/* Global */

@import './global/global.css';
@import './utilitarios/tipografia.css';
@import './global/header.css';
@import './global/footer.css';

/* Utilitários */

@import './utilitarios/cores.css';
@import './utilitarios/componentes.css';
@import './utilitarios/formularios.css';
@import './utilitarios/animacao.css';


/* Home */

@import './home/intro.css';
@import './home/tecnologia.css';
@import './home/parceiros.css';
@import './home/depoimento.css';

/* Bicicletas */

@import './bicicletas/bicicletas-lista.css';
@import './bicicletas/bicicletas.css';

/* Seguros */

@import './seguros/seguros.css';
@import './seguros/vantagens.css';
@import './seguros/perguntas.css';

/* Termos */

@import './termos/termos.css';

/* Contato */

@import './contato/contato.css';
@import './contato/formulario.css';
@import './contato/lojas.css';

/* Bicicleta */

@import './bicicleta/bicicleta.css';
@import './bicicleta/seguro.css';

/* Orçamento */

@import './orcamento/orcamento.css';