.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.form label {
  display: block;
  margin-bottom: .4rem;
  font: 500 1.8rem/1.4 'Poppins', sans-serif;
}
.form input[type="text"],
.form input[type="email"],
.form textarea {
  width: 100%;
  padding: 1.4rem 1.2rem;
  border-radius: .5rem;
  background: var(--cor-1);
  border: 1px solid var(--cor-3);
  font: 500 1.4rem/1.4 'Poppins', sans-serif;
}
.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form textarea:focus {
  outline: none;
  border: 1px solid var(--cor-p1);
  box-shadow: 0 0 0 2px #a38ed9;
}
.col-2 {
  grid-column: 1/-1;
}

@media (max-width: 600px) {
  .form {
    grid-template-columns: 1fr;
  }
}