.lojas {
  padding-top: 12rem;
  padding-bottom: 12rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 4rem;
}
.lojas h2 {
  margin-bottom: 6rem;
  grid-column: 1/-1;
}
.lojas-item {
  background: var(--cor-w);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 .5rem .5rem;
}
.lojas-item > img {
  width: 100%;
  border-radius: .5rem .5rem 0 0;
}
.lojas-conteudo {
  padding: 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem 1.6rem;
}
.lojas-conteudo h3,
.lojas-tempo {
  grid-column: 1/-1;
}
.lojas-conteudo h3 {
  display: flex;
  align-items: center;
}
.lojas-conteudo h3:before {
  content: '';
  width: 2.4rem;
  height: .8rem;
  background: var(--cor-p1);
  display: inline-block;
  margin-right: .8rem;
}
.lojas-tempo {
  display: flex;
  align-items: center;
  gap: .8rem;
}
.lojas-dados {
  justify-items: start;
  display: grid;
  gap: .8rem;
  border-left: 2px solid var(--cor-2);
  padding-left: 1.2rem;
}

@media (max-width: 800px) {
  .lojas {
    gap: 2rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .lojas h2 {
    margin-bottom: 2rem;
  }
  .lojas-conteudo {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 600px) {
  .lojas {
    grid-template-columns: 1fr;
  }
}