.depoimento {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: var(--cor-p2);
}
.depoimento-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 0;
}
.depoimento-conteudo {
  padding: 4rem 8rem 8rem 8rem;
  align-self: end;
  background: url(../../img/dec/bottom-right-p.svg) no-repeat bottom 4rem right 4rem;
}
.depoimento-conteudo p {
  max-width: 32ch;
  font-family: 'Merriweather';
  font-weight: 700;
  font-style: italic;
  font-size: 3.2rem;
  line-height: 1.5;
  margin-bottom: 3.2rem;
  position: relative;
}
.depoimento-conteudo p::after, 
.depoimento-conteudo p::before {
  position: absolute;
  color: var(--cor-p1);
  font-size: 10rem;
}

.depoimento-conteudo p::before {
  content: "“";
  left: -6rem;
  top: -5rem;
}
.depoimento-conteudo p::after {
  content: "”";
}

@media (max-width: 800px) {
  .depoimento {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .depoimento-img img {
    height: 24rem;
  }
  .depoimento-conteudo {
    padding-bottom: 4rem;
  }
}