#orcamento {
  background: linear-gradient(var(--cor-11) 60rem, var(--cor-1) 0px);
}

.orcamento {
  display: grid;
  grid-template-columns: 5fr 7fr;
  padding-bottom: 12rem;
}

.orcamento h2 {
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
}
.orcamento h2::before {
  content: '';
  width: .4rem;
  height: 1.2rem;
  display: inline-block;
  position: absolute;
  left: -1.2rem;
  background: var(--cor-p1);
}

.orcamento-produto,
.orcamento-dados {
  padding: 6rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.orcamento-produto {
  border-radius: .5rem 0 0 .5rem;
  background: var(--cor-12) url(../../img/dec/bottom-left.svg) no-repeat bottom 2rem left 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: start;
  gap: 2rem;
}
.orcamento-dados {
  border-radius: 0 .5rem .5rem 0;
  background: var(--cor-w) url(../../img/dec/bottom-right-p.svg) no-repeat bottom 2rem right 2rem;
}

#orcamento-bikcraft,
#orcamento-seguro {
  display: none;
}

#bikcraft:checked ~ #orcamento-bikcraft,
#seguro:checked ~ #orcamento-seguro {
  display: grid;
  gap: 2rem;
}
.orcamento-conteudo h2,
.orcamento-dados h2:nth-of-type(n + 2) {
  margin-top: 2rem;
}
.orcamento-produto label {
  color: var(--cor-4);
  background: var(--cor-9);
  padding: 1.6rem 1.2rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  border-radius: .4rem;
  font: 500 1.6rem/1.2 'Poppins';
  cursor: pointer;
}
.orcamento-produto > * {
  grid-column: 1/-1;
}
.orcamento-produto > label {
  grid-column: initial;
}
.orcamento-produto input:checked + label {
  color: var(--cor-12);
  background: var(--cor-1);
}
.orcamento-produto input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.orcamento-produto label:hover {
  background: var(--cor-8);
}
.orcamento-produto input:focus + label {
  box-shadow: 0 0 0 .2rem var(--cor-p1);
}
.orcamento-produto label span {
  display: none;
}
.orcamento-produto input:checked + label span {
  display: inline-block;
}
.orcamento-produto label::before {
  content: '';
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid var(--cor-6);
  margin-right: .8rem;
}
.orcamento-produto input:checked + label::before {
  border-color: var(--cor-7);
  box-shadow: inset 0 0 0 .4rem var(--cor-w), inset 0 0 0 .6rem var(--cor-7);
}

.orcamento-detalhes {
  background: var(--cor-w);
  padding: 2rem;
  display: none;
  grid-template-columns: 1fr 1fr;
  border-radius: .4rem;
  align-items: center;
}
.orcamento-detalhes li {
  display: flex;
  align-items: center;
  margin-bottom: .8rem;
}
.orcamento-detalhes li img {
  width: 1.6rem;
  margin-right: .8rem;
}
.orcamento-produto input:checked + label + .orcamento-detalhes {
  display: grid;
}

@media (max-width: 1200px) {
  .orcamento-produto,
  .orcamento-dados {
    padding: 3.2rem;
  }
}
@media (max-width: 800px) {
  .orcamento {
    grid-template-columns: 1fr;
  }
  .orcamento-dados {
    border-radius: .5rem .5rem 0 0;
  }
  .orcamento-produto {
    background: var(--cor-12)
  }
  .orcamento-dados {
    border-radius: 0 0 .5rem .5rem;
  }
}
@media (max-width: 400px) {
  .orcamento-produto {
    grid-template-columns: 1fr;
  }
}